<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.timberforest.ratd">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icone_app1"
        android:label="R.A.T.D"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".dashboards.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="R.A.T.D"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".utilitarios.SplashScreen"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />

        <!--
                <activity
                    android:name=".utilitarios.SplashScreen"
                    android:configChanges="orientation|keyboardHidden"
                    android:label="@string/nome_icone"
                    android:screenOrientation="landscape">
                    <intent-filter>
                        <action android:name="android.intent.action.MAIN" />
                        <category android:name="android.intent.category.LAUNCHER" />
                    </intent-filter>
                </activity>
                <activity
                    android:name=".dashboards.MainActivity"
                    android:configChanges="orientation|keyboardHidden"
                    android:label="@string/app_name"
                    android:screenOrientation="landscape" />
        -->


        <!--
            <service
            android:name=".utilitarios.LocationIntentService"
            android:exported="false"/>
        -->

        <activity
            android:name=".detail.cadastroMecanico.DetailMecanicoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_mecanico_detail"
            android:parentActivityName=".dashboards.MainActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".dashboards.MainActivity" />
        </activity>
        <activity
            android:name=".formulariosActivity.cadastroMecanico.FormMecanicoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_mecanico_form"
            android:parentActivityName=".dashboards.MainActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".dashboards.MainActivity" />
        </activity>
        <activity
            android:name=".listActivity.cadastroMecanico.ListCadastroMecanicoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_mecanico_list"
            android:parentActivityName=".dashboards.MainActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".dashboards.MainActivity" />
        </activity>
        <activity
            android:name=".detail.relatorioAssistenciaTecnica.DetailRelatorioAssistenciaTecnicaActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_formulario_detail"
            android:parentActivityName=".dashboards.MainActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".dashboards.MainActivity" />
        </activity>
        <activity
            android:name=".listActivity.relatorioAssistenciaTecnica.ListRelatorioAssistenciaTecnicaActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_formulario_list"
            android:screenOrientation="landscape" />
        <activity
            android:name=".formulariosActivity.relatorioAssistenciaTecnica.FormRelatorioAssistenciaTecnicaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_form1_dados"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".utilitarios.CameraActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_camera"
            android:screenOrientation="landscape" />
        <activity
            android:name=".formulariosActivity.relatorioAvaliacaoOperacional.RelatorioOperacionalFormActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_form_relatorio_operacional"
            android:screenOrientation="landscape" />
        <activity
            android:name=".detail.relatorioAvaliacaoOperacional.DetailRelatorioOperacionalActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_relatorio_opreacional_detail"
            android:screenOrientation="landscape" />
        <activity
            android:name=".listActivity.relatorioAvaliacaoOperacional.ListRelatorioAvaliacaoOperacionalActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_relatorio_operacional_list"
            android:screenOrientation="landscape" />
        <activity
            android:name=".dashboards.ServicosPonsseActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_check_list_ponsse"
            android:screenOrientation="landscape" />
        <activity
            android:name=".dashboards.ServicosLogMaxActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_servicos_log_max"
            android:screenOrientation="landscape" />
        <activity
            android:name=".sharedPreferences.SharedPreferencesEmailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />
        <activity
            android:name=".sharedPreferences.SharedPreferencesDeslocamento"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <!-- deslocamento -->
        <activity
            android:name=".sharedPreferences.deslocamento.OpcoesDeslocamentoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".sharedPreferences.deslocamento.DeslocamentoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".sharedPreferences.deslocamento.TrabalhoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".sharedPreferences.deslocamento.RefeicaoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".sharedPreferences.deslocamento.KmRodado"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
    </application>

</manifest>